main{
  margin-top: 45%;
  margin-bottom: 50%;
}
div{
  width: 150px;
  height: 150px;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
div > div{
  width: 55px;
  height: 55px;
  background-color: darkgreen;
}